

{% extends 'base.html' %}

{% load static %}

{% block content %}



<body class="d-flex flex-column min-vh-100 bg-white">

   
    <div class="container mb-5 p-4">
        <form action="{% url 'saveEq' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3 mt-5">
                <label for="text" class="form-label text-white">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name">
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label text-white">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3 mt-3">
                <label for="text" class="form-label text-white">Subject:</label>
                <input type="text" class="form-control" placeholder="Subject" name="comment">
            </div>
            <div class="mb-3 mt-3">
                <label for="comment" class="text-white">Project Details:</label>
                <textarea class="form-control" rows="5" id="comment" name="proj" placeholder="Project details"></textarea>
            </div>



            <center><button class="btn btn-primary" type="submit">Submit</button>
            </center>
          
        </form>
       
    </div>
    {% endblock %}