
{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load static %}


        <!-- portfolio section start here -->
		<div class="portfolio style-2 padding-tb">
            <div class="container">
                <div class="section-wrapper">
                    <div class="portfolio-wrapper">
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
							<div class="post-thumb-inner">
								<div class= "gallery-icon" data-rel="lightcase">
									<p class="textt">Cow&nbsp;Udder</p>

								</div>
								<img src="static/assets/images/dimg0.jpg" alt="portfolio">	
						
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									
									<p class="textt">Fresh&nbsp;Butter</p>
								</div>
								<img src="static/assets/images/dimg1.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Cow&nbsp;Farming</p>
								</div>
								<img src="static/assets/images/dimg3.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Dairy&nbsp;Cheese</p>
								</div>
								<img src="static/assets/images/dimg4.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Goat&nbsp;Milk</p>
								</div>
								<img src="static/assets/images/dimg5.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Milk&nbsp;Bottles</p>
								</div>
								<img src="static/assets/images/dimg6.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Milk&nbsp;Products</p>
								</div>
								<img src="static/assets/images/dimg7.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Fresh&nbsp;Milk</p>
								</div>
								<img src="static/assets/images/dimg8.jpg" alt="portfolio">
							</div>
                        </div>
                        <div class="post-thumb wow fadeInUp" data-wow-duration="1s" data-wow-delay=".9s">
							<div class="post-thumb-inner">
								<div class="gallery-icon" data-rel="lightcase">
									<p class="textt">Buffalo&nbsp;Milk</p>
								</div>
								<img src="static/assets/images/dimg9.jpg" alt="portfolio">
							</div>
							
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</footer>

		<!-- scrollToTop start here -->
		<a href="#" class="scrollToTop"><i class="flaticon-chevron-up"></i></a>
		<!-- scrollToTop ending here -->
		{% endblock %}